/* 對話框設計 */
#dialogBox {
    max-width: 80%;
    top: 30px; /* 將對話框定位在頁面的正上方 */
    margin: 20px auto;
    padding: 15px;
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: absolute; /* 將對話框設置為絕對定位 */
}

#dialogBox::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: #f3f3f3;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    transform: translateX(-50%) rotate(-45deg);
    z-index: -1;
}

#dialogText {
    font-size: 16px;
    line-height: 1.5;
    /* word-wrap: break-word; */
     /* 讓文字換行 */
    word-break: break-all;
     /* 超過容器寬度時換行 */
}



/* 使用 Arial 字體，如果沒有可用，則使用系統的 sans-serif 字體 */
body {
    font-family: Arial, sans-serif;
    /* 將 body 元素的內容邊緣邊距都設置為 0，以消除預設的間距 */
    margin: 0;
    padding: 0;
    /* 使用 Flexbox 佈局方式，將內容水平和垂直居中 */
    display: flex;
    justify-content: center; /* 在水平方向上居中 */
    align-items: center; /* 在垂直方向上居中 */
    /* 將 body 的高度設置為視口高度的 100%，以充滿整個視窗 */
    height: 100vh;
    /* 設置背景顏色為淺灰色 */
    background-color: #f0f0f0;
}

label {
    /* 設置標籤的右邊距為 10px，用於和下拉式選單之間產生一定的間距 */
    margin-right: 10px;
    margin-left: 20px; /* 設置標籤的左邊距為 20px */
    margin-top: 12px; /* 設置標籤的上邊距為 10px */
    margin-bottom: 10px; /* 設置標籤的下邊距為 10px */
    position: absolute; /* 使用絕對定位 */
    top: 200px; /* 設置標籤的垂直位置 */
    left: 50px; /* 設置標籤的水平位置 */
}

/* 下拉式選單樣式 */
select {
    /* 設置下拉式選單的填充為 5px，字體大小為 16px */
    padding: 5px;
    font-size: 16px;
    margin-left: 10px; /* 設置下拉式選單的左邊距為 10px */
    margin-top: 10px; /* 設置下拉式選單的上邊距為 10px */
    margin-bottom: 10px; /* 設置下拉式選單的下邊距為 10px */
    position: absolute; /* 使用絕對定位 */
    top: 200px; /* 設置下拉式選單的垂直位置 */
    left: 150px; /* 設置下拉式選單的水平位置 */
}


